.bonuses-info-form{
    display: flex;
    flex-direction: row;
}
.bonuses-info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bonuses-info-container{
    width: 31vw;
    min-width: 350px;
    height: fit-content;
    margin: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid white;
}
.bonuses-info-container .bonuses-info-box{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 9px 30px -15px rgb(0 0 0);
}
.bonuses-info-box .bonuses-info-h3{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    position: relative;
}
.bonuses-info-box .bonuses-info-h3 .bonuses-info-span{
    position: absolute;
    width: 80px;
    height: 6px;
    bottom: 0px;
    border-radius: 200px;
    transition: all 0.3s cubic-bezier(0.445 , 2.05 , 0.855 , 0.95);
    transition-delay: 0.5s;
}
.bonuses-info-box .bonuses-info-input_box{
    text-align: center;
    border: 2px solid #000;
    border-radius: 5px;
    position: relative;
}
.bonuses-info-box .bonuses-info-form .bonuses-info-input_box .bonuses-info-input{
    width: 95%;
    font-size: 28px;
    padding: 10px 0px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.bonuses-info-box .bonuses-info-form .bonuses-info-input_box .bonuses-info-label{
    position: absolute;
    left: 8px;
    top: -12px;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 10px;
    pointer-events: none;
    transition: 0.3s;
}
.bonuses-info-box .bonuses-info-form .bonuses-info-input_box .bonuses-info-input:focus + .bonuses-info-label,
.bonuses-info-box .bonuses-info-form .bonuses-info-input_box .bonuses-info-input:valid + .bonuses-info-label{
    top: -16px;
    color: burlywood;
    transition: all 0.5s cubic-bezier(0.60 , 4.00 , 0.255 , 1.55);
}
.bonuses-info-box .bonuses-info-form{
    width: 100%;
    font-size: 30px;
    border: none;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 200px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.bonuses-info-box .bonuses-info-form,
.bonuses-info-box .bonuses-info-form,
.bonuses-info-box .bonuses-info-form{
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.bonuses-info-box .bonuses-info-form,
.bonuses-info-box .bonuses-info-form,
.bonuses-info-box .bonuses-info-form{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

.new-bonus-button{
    width: 120px;
    height: 30px;
    background-color:rgb(60, 60, 60);
    border-radius: 7px;
    font-size: medium;
    border: 2px solid bisque;
    border: 0px;
}

.new-bonus-button:hover{
    background-color: burlywood;
    color: black;
}

.delete-bonus-button{
    width: 120px;
    height: 55.2px;
    background-color:rgb(60, 60, 60);
    border-radius: 7px;
    font-size: medium;
    border: 2px solid bisque;
    border: 0px;
}

.delete-bonus-button:hover{
    background-color: burlywood;
    color: black;
}
