/* .auth-head, .log-label, .log-input, .confirm-auth-button{
    font-family: var(--font-mono);
    font-size: x-large;
}

.auth{
    width: 30%;
    height: 100%;
    max-height: 500px;
    min-width: 350px;
    background-color: #D48166;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.auth-head{
    font-size: 300%;
    font-weight: bolder;
    padding: 0 0 50px 0;
}

.log-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 300px;
}

.log-input{
    height: 30px;
    width: 300px;
    margin-bottom: 15px;
    border-radius: 7px;
    padding-left: 2px;
}

.confirm-auth-button{
    width: 120px;
    height: 30px;
    margin-top: 35px;
    background-color: #D48166;
    border-radius: 7px;
    font-size: medium;
    border: 2px solid #373A36;
}

.confirm-auth-button:hover{
    background-color: #373A36;
    color: #E6E2DD;
}
 */

 .container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg , #E5B9A8 , #D48166);
}
.container .box{
    width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 9px 30px -15px rgb(0 0 0);
}
.box .h3{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 50px;
    position: relative;
}
.box .h3 .span{
    position: absolute;
    width: 80px;
    height: 6px;
    background: linear-gradient(45deg , #E5B9A8 , #D48166);
    bottom: 0px;
    border-radius: 200px;
}

.box .form .input_box{
    text-align: center;
    border: 2px solid #000;
    border-radius: 5px;
    margin-bottom: 25px;
    position: relative;
}
.box .form .input_box .input{
    width: 95%;
    font-size: 28px;
    padding: 10px 0px;
    border: none;
    outline: none;
}
.box .form .input_box .label{
    position: absolute;
    left: 8px;
    top: -12px;
    font-size: 20px;
    background-color: #fff;
    font-weight: bold;
    padding: 0px 10px;
    pointer-events: none;
    transition: 0.3s;
}

.box .form .input_box .input:focus + .label,
.box .form .input_box .input:valid + .label{
    top: -16px;
    color: blue;
    transition: all 0.5s cubic-bezier(0.60 , 4.00 , 0.255 , 1.55);
}

.box .form .login-button{
    width: 100%;
    font-size: 30px;
    border: none;
    padding: 10px 15px;
    border-radius: 200px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    background: linear-gradient(45deg , #E5B9A8 , #D48166);
    box-shadow: 0px 10px 30px -10px #f79168;
    transition: 0.3s;
}
.box .form .login-button:hover{
    box-shadow: 0px 5px 10px -5px #ff9266;
}
.box .form .login-button:active{
    transform: scale3d(0.9 , 0.9 , 0.9);
}
.box .form .forgot_password{
    text-align: end;
    margin: 25px 0px;
}
.box .form .forgot_password .a{
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    color: #D48166;
}
.box .form .forgot_password .a:hover{
    text-decoration: underline;
}

.box .form .forgot_password .a,
.box .form .signup_link .a,
.box .form .contact_link .a{
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    color: #D48166;
}
.box .form .signup_link,
.box .form .contact_link{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}
.box .form .forgot_password .a:hover,
.box .form .signup_link .a:hover,
.box .form .contact_link .a:hover{
    text-decoration: underline;
}